* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    background-color: ghostwhite;
}

h2, button {
    font-size: 30px;
}

#restart-btn {
    display: none;
}

#axis, #random-place {
    font-size: 20px;
}

#labels, #boards, #announcement {
    padding: 20px;
}


#boards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.player-container, .computer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#announcement {
    justify-items: center;
    gap: 20px;
}

#my-ships {
    display: grid;
    gap: 10px;
}

.ship {
    padding: 5px;
}

label {
    font-size: 20px;
}

#carrier, #cruiser, #submarine, #destroyer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.gameboard {
    display: flex;
}

.ship-shape {
    display: flex;
    border: solid 2px ghostwhite;
    background-color: rgb(15, 0, 115);
}

.cell, .my-cell, .ship-cell {
    width: 30px;
    height: 30px;
    border: 1px rgb(15, 0, 115) solid;
}

.ship-cell {
    color: red;
    text-align: center;
    font-size: 25px;
}

.ship-cell.cell {
    
}

.ship-cell.my-cell {
    background-color: rgb(15, 0, 115);
}

.missed {
    background-color: rgb(180, 179, 179);
    
}

.hit {
    background-color: rgb(15, 0, 115);
}

#info {
    font-size: 40px;
    text-align: center;
}

footer, header  {
    background-color: rgb(15, 0, 115);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

footer a {
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

footer img {
    width: 25px;
    height: 25px;
}
