* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    background-color: ghostwhite;
}

#labels {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-items: center;
}

h2, button {
    font-size: 30px;
}

#axis {
    font-size: 20px;
}

#labels, #boards, #announcement {
    padding: 20px;
}


#boards {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 30px;
    align-content: center;
    justify-items: center;
}

#announcement {
    display: none;
    justify-items: center;
    gap: 20px;
}

#my-ships {
    display: grid;
    gap: 20px;
}

.ship {
    padding: 5px;
}

label {
    font-size: 20px;
}

#carrier, #cruiser, #submarine, #destroyer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.column, .ship-shape {
    display: flex;
}

.ship-shape {
    border: solid 2px ghostwhite;
    background-color: rgb(15, 0, 115);
}

.cell, .my-cell, .ship-cell {
    width: 30px;
    height: 30px;
    border: 1px rgb(15, 0, 115) solid;
}

.ship-cell {
    border: solid 2px ghostwhite;
}

footer, header  {
    background-color: rgb(15, 0, 115);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px;
    font-weight: 400;
}

h1 {
    font-size: 3rem;
}

footer a {
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

footer img {
    width: 25px;
    height: 25px;
}
